snippet %svg "macro.svg"
{{ macro.svg(images, "path", "alt") }}
endsnippet

snippet %img "macro.images"
{{ macro.image(images, "path", "alt") }}
endsnippet

snippet %resi "macro.responsiveImage"
{{ macro.responsiveImage(images, "path", "alt") }}
endsnippet

snippet %resw "macro.responsiveWebp"
{{ macro.responsiveWebp(images, "path", "alt") }}
endsnippet
